<header>
  <nav>
    <a id="home" href="/">Home</a>
    <a id="library" href="/books">Library</a>
    <a id="authors" href="/authors">Authors</a>
    <% if (user) { %>
    <a id="my-books" href="/users/<%= user._id %>">My Books</a>
    <a id="log-out" href="/logout">Log Out</a>
    <% } else { %>
    <!-- <a class="log-in" href="/auth/google">Log In</a> -->
    <a class="log-in" href="/auth/google">Log In</a>
    <% } %>
  </nav>
  <div id="title-div">
    <img id="header-worm" src="/img/worm.png" alt="Book Worm">
    <h1>Little Book Worms</h1>
  </div>
</header>
