<header>
  <nav>
    <a href="/">Home</a>
    <a href="/books">Library</a>
    <a href="/authors">Authors</a>
    <% if (user) { %>
    <a href="/users/<%= user._id %>">My Books</a>
    <a href="/logout">Log Out</a>
    <% } else { %>
    <a href="/auth/google" class="login"
      >Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
    /></a>
    <% } %>
  </nav>
  <h1><%= title %></h1>
</header>
