<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books">Library</a></li>
      <li><a href="/authors">Authors</a></li>
      <% if (user) { %>
      <li><a href="/users/<%= user._id %>">My Books</a></li>
      <li><a href="/logout">Log Out</a></li>
      <% } else { %>
      <li>
        <a href="/auth/google" class="login">Log In</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <h1><%= title %></h1>
</header>
