<header>
  <nav>
    <ul>
      <li><a id="home" href="/">Home</a></li>
      <li><a id="library" href="/books">Library</a></li>
      <li><a id="authors" href="/authors">Authors</a></li>
      <% if (user) { %>
      <li><a id="my-books" href="/users/<%= user._id %>">My Books</a></li>
      <li><a id="log-out" href="/logout">Log Out</a></li>
      <% } else { %>
      <li><a id="log-in" href="/auth/google">Log In</a></li>
      <% } %>
    </ul>
  </nav>
    <div class="title-div">
      <img id="header-worm" src="/img/worm.png" alt="Bookworm">
      <h1>Little Bookworms</h1>
    </div>
</header>
