<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
  <h2>The page you requested doesn't exist.</h2>
  <p>Check the address bar to make sure you're requesting a valid page.</p>

  <p>Try again or go back <a href="/">home</a>.</p>
</main>

<%- include('./partials/footer') %>
