<%- include('./partials/head') %> 

<%- include('./partials/header') %> 
<main>
<h1>Uh Oh! There's something wrong.</h1>
<p>Try again or go back <a href="/">home</a>.</p>
</main>
<%- include('./partials/footer') %>
