<%- include('./partials/head') %> 
<%- include('./partials/header') %> 

<main>
    
    
    
</main>

<img id="abc-blocks" src="/img/abc-blocks.png" alt="ABC Blocks">
<%-include('./partials/footer') %>
