@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka:wght@400;500;600;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Andika', sans-serif;
  height: 100vh;
  background-color: rgba(114, 211, 243, 0.473);
}

main {
  flex-grow: 3;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 73rem;
  height: auto;
  margin: 1rem auto;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
}

h2 {
  text-align: center;
}

div.title-div {
  display: flex;
  margin: 10px 0;
}

#header-worm {
  max-height: 80px;
  margin: 0 20px;
}

img#header-worm {
  max-height: 80px;
  margin: 0 20px;
  position: relative;
  animation-name: worm;
  animation-duration: 6s;
}

@keyframes worm {
  0% {
    left: 1800px;
    top: 0px;
  }
  50% {
    left: 400px;
    top: 0px;
  }
  65% {
    left: 400px;
    top: 70px;
  }
  80% {
    left: 0px;
    top: 70px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#kids {
  align-self: center;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.43);
}

main.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

footer {
  text-align: center;
}

.home-p {
  text-align: center;
  margin-bottom: 40px;
}

nav {
  padding: 0.6vmin;
  background: linear-gradient(
    109.6deg,
    rgb(249, 198, 66) 11.2%,
    rgb(255, 240, 28) 100.2%
  );
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

nav > ul > li {
  list-style-type: none;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

nav > ul > li > a {
  color: black;
  text-decoration: none;
  padding: 1vmin;
  border-radius: 8px;
  transition: 0.2s;
}

nav > ul > li > a:hover {
  box-shadow: 4px 4px #888888;
}

#home:hover {
  color: white;
  background-color: #cd2026;
  height: 9svw;
}

#library:hover {
  color: white;
  background-color: #0071bc;
  height: 9svw;
}

#authors:hover {
  color: white;
  background-color: #2e8540;
  height: 9svw;
}

#my-books:hover {
  color: white;
  background-color: purple;
  height: 9svw;
}

#log-out:hover {
  color: white;
  background-color: rgb(218, 141, 0);
  height: 9svw;
}

#log-in:hover {
  color: white;
  background-color: orange;
  height: 9svw;
}

.form-section {
  margin: 0 auto;
  width: fit-content;
  padding: 50px;
}

section.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

article.card {
  margin: 0.5rem;
  padding: 15px;
  text-align: center;
  word-wrap: normal;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 20px;
  background-color: rgb(128, 13, 128);
  color: white;
  font-weight: bold;
}

section article.card {
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  justify-content: center;
}

article.card:hover {
  box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.6);
}

article.card a {
  color: yellow;
}

section.card-container article.book-index {
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 1fr 1fr;
  height: 25rem;
}

section.card-container article.user-show {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr 1fr;
  height: 20rem;
}

section.card-container article.author-index {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-direction: column;
  height: 9.2rem;
  background-color: #4aa564;
  color: white;
}

article.author-index a {
  color: blue;
}

section.card-container article.author-index:hover {
  height: max-content;
}

article.card span.hide {
  position: absolute;
  margin-top: 145px;
  margin-left: 80px;
  color: rgb(255, 67, 67);
  text-shadow: 1px 1px rgb(138, 138, 138);
  padding-bottom: 4px;
}

section.card-container article.author-index:hover > span {
  display: none;
}

h3 {
  margin: 10px auto;
}

button {
  color: white;
  background-color: darkorange;
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid darkgoldenrod;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(179, 98, 0);
}

.link-btn-container {
  margin: 16px 0;
}

a.link-btn {
  padding: 8px;
  color: white;
  background-color: darkorange;
  border-radius: 8px;
  border: 1px solid darkgoldenrod;
  transition: 0.2s;
  text-decoration: none;
}

a.link-btn:hover {
  cursor: pointer;
  background-color: rgb(179, 98, 0);
}

form#addForm,
form#editForm {
  max-width: 80vmin;
  margin: 0 auto 30px;
  color: white;
  background-color: #4c8635;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

form#addForm input,
form#editForm input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.4em;
}

form#addForm select,
form#editForm select {
  padding: 10px 20px;
  margin: 10px 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f1f1f1;
  width: 50vmin;
}

p.stock-book-container {
  margin: 0;
  padding: 0;
}

.stock-book {
  max-width: 100px;
}

.hidden {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pfp-container {
  max-width: 80px;
  max-height: 80px;
}

.pfp {
  max-width: 90%;
  border-radius: 100%;
}

main.book-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section.book-info,
section.book-review,
article.review,
article.reviewBar {
  box-shadow: 2.5px 5px 5px 2.5px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  font-weight: bolder;
}

section.book-info {
  background-color: #fad980;
  border: 4px solid black;
  width: 500px;
  padding: 30px 20px;
  font-size: 1.25rem;
}

#delete-review {
  position: relative;
  left: 300px;
  bottom: 110px;
}

section.book-info a {
  color: navy;
}

section.book-info a:hover {
  color: red;
}

.book-review {
  border: 3px solid gray;
  background-color: #f8f685;
  width: 500px;
  padding: 20px 20px 40px 20px;
}

section.book-review > h2 {
  margin-bottom: 50px;
}

div.review-form {
  display: flex;
  justify-content: center;
  background-color: #0071bc;
  height: 275px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 2px solid #005791;
  color: white;
}

div.review-form button {
  margin-top: 20px;
}

textarea {
  width: 350px;
  height: 80px;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
}

article.review {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 4fr 1fr;
  align-items: center;
  margin: 30px auto;
  padding: 5px;
}

article.reviewBar {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  padding: 5px;
}

.center-text {
  text-align: center;
}

section.review-section {
  margin-bottom: -50px;
}
