@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka:wght@400;500;600;700&display=swap');

body {
  font-family: 'Andika', sans-serif;
}

/* section {
  display: flex;
  flex-direction: row;
  max-width: 73rem;
  height: auto;
  margin: 1rem auto;
} */

section.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.card-container article.card {
  border: 0.1rem solid black;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  word-wrap: normal;
  width: 15rem;
  height: 15rem;
  overflow: auto;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
}

.login {
  height: 34px;
}

.login img {
  height: 30px;
}
