<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
    <h2>Find Your Favorite Author</h2>
    
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Book Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>